<!DOCTYPE HTML>
<html lang="en">

<head>
  <title> {% block title %} Top 100 {% endblock %} </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style/style'}">
</head>

<body>
  <div id= "content">
    {% block logo %} Top 100 {% endblock logo %}
  </div>
</body>
</html>
